[Desktop Entry]
Type=Application
Name=Tundra
Comment=Sample browser for FLAC, WAV, MP3, and OGG
Exec=tundra %F
Terminal=false
MimeType=audio/flac;audio/wav;audio/x-wav;audio/mpeg;audio/ogg;audio/vorbis;application/ogg;
Categories=Audio;AudioVideo;
StartupNotify=true
